@import "../../variables.scss";

#header_haut{
    display: flex;
    position: relative;
    height: 60%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid $footandheadColorHover;
    padding-left: 75px;
    padding-right: 75px;
}
  
#image_slogan{
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
}
  
#logo{
    height: 80px;
    width: 120px;
}
  
#compte{
    display: flex;
}

.compte, .panier{
    font-size: 20px;
}
  
#panier{
    margin-left: 18px;
    text-decoration: none;
    color: inherit;
}
  
#aide{
    margin-left: 18px;
    text-decoration: none;
    color: inherit;
}
  
#langue{
    margin-left: 18px;
    text-decoration: none;
    color: inherit;
}
  
#user, #deconnexion{
    text-decoration: none;
    color: inherit;
}

#deconnexion{
    margin-left: 10px;
}
  
.slogan{
    margin-left: 18px;
    font-style: italic;
    font-size: 18px;
}
  
.search{
    width: 200px;
    border: none;
    margin-left: 10px;
    background-color: $filarianeBackgroundColor;
    color: $searchColor;
}
  
.recherche{
     display: flex;
     align-items: center;
     border-radius: 6px;
     background-color: $filarianeBackgroundColor;
}
  
.bouton-search{
    margin-right: 10px;
    background-color: $filarianeBackgroundColor;
    color: $searchColor;
}
  
#header_bas{
    display: flex;
    position: relative;
    height: 40%;
    width: 100%;
    border-bottom: 0.2px solid $footandheadColorHover;
    font-size: 25px;
}
  
.photographies, .nouveautes, .artistes, .exemplaires{
    text-decoration: none;
    color: inherit;
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 400ms;
    font-weight: bold;
}
  
.photographies:hover, .nouveautes:hover, .artistes:hover, .exemplaires:hover{
    text-decoration: none;
    background-color: $buttonHoverBackgroundColor;
    color: $buttonHoverColor;
}
  
#user:hover, #aide:hover, #langue:hover, #panier:hover, #deconnexion:hover{
    color: $footandheadColorHover;
}

#panier span{
    margin-left: 3px;
    background-color: #f22b2b;
    color: white;
    border-radius: 50%;
    padding: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
}

@media screen and (max-width: 1100px){
    
    .compte, .panier, .slogan{
        display: none;
    }

    .search{
        width: 100px;
    }

}