<section id="header_haut">
  <div id="image_slogan">
    <a [routerLink]="['/welcome']"><img id="logo" src="../../assets/images/logo-kartina.png"></a>
    <div class="slogan">Pour lui donner un peu d'esprit, on photographie la vie</div>
  </div>
  <div id="compte">
    <a id="user" (click)="lienCompte()"><i class="fas fa-user compte"></i> {{compte}}</a>
    <a *ngIf="decon" id="deconnexion" (click)="deconnexion()"><i class="fas fa-power-off"></i></a>
    <a id="aide" [routerLink]="['/aide']">Aide</a>
    <a id="panier" [routerLink]="['/panier']"><i class="fas fa-shopping-cart panier"></i> Panier<span *ngIf="pastille>0">{{pastille}}</span></a>
  </div>
</section>

<section id=header_bas>
   <a [routerLink]="['/photographies']" class="photographies">Photographies</a>
   <a [routerLink]="['/photographies','nouveautes']" class="nouveautes">Nouveautés</a>
   <a [routerLink]="['/artistes']" class="artistes">Artistes</a>
   <a [routerLink]="['/photographies','derniers']" class="exemplaires">Derniers exemplaires</a>
</section>
