<span></span>
<div class="footer_droite">
  <a class="mentions_legales" [routerLink]="['/mentions']">Mentions légales</a>
  <a class="conditions" [routerLink]="['/conditions']">Conditions générales d'utilisation</a>
  <a class="twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
  <a class="facebook" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
</div>
