@import "../../variables.scss";

.langue{
    text-decoration: none;
    color: inherit;
    margin-left: 6%;
}
  
.mentions_legales, .conditions, .twitter, .facebook{
    text-decoration: none;
    color: inherit;
}
  
.langue:hover, .mentions_legales:hover, .conditions:hover{
    text-decoration: none;
    color: $footandheadColorHover;
}
  
.twitter:hover, .facebook:hover{
    text-decoration: none;
    color: $fbandtwitterHover;
}
  
.footer_droite{
    margin-right: 6%;
}
  
.facebook{
    margin-left: 12px;
}
  
.twitter{
    margin-left: 100px;
}
  
.conditions{
    margin-left: 30px;
}
  
.twitter, .facebook{
    font-size: 20px;
}