@import "../../variables.scss";

#erreur{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    height: 600px;
    font-size: 20px;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 40px;
}