@import "../../variables.scss";

#fil_ariane_1, #fil_ariane_2{
    text-decoration: none;
    color: inherit;
    margin-right: 5px;
}
  
#fil_ariane_1:hover, #fil_ariane_2:hover{
    cursor: pointer;
    text-decoration: none;
    color: $footandheadColorHover;
}
  
#fil_ariane_3{
    font-size: 13px;
}

#fil_ariane_2, #fil_ariane_3{
    margin-left: 5px;
}

.is-active {
    cursor: default;
    text-decoration: none;
}