<span><a [routerLink]="['/welcome']" id="fil_ariane_1">Accueil</a> <i class="fas fa-caret-right"></i> <span [routerLink]="boolAriane2 ? linkAriane1 : null" routerLinkActive="is-active" id="fil_ariane_2">{{ariane1}}</span> <span *ngIf="boolAriane2"><i class="fas fa-caret-right"></i> <span id="fil_ariane_3">{{ariane2}}</span></span> </span>
