@import "../../variables.scss";

#corps_de_page{
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    background-color: $mainBackgroundColor;
}
  
.filtrage{
    width: 25%;
    height: 100%;
    color: $mainColor;
}
  
.theme{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.titre_tri_theme{
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $footandheadColor;
    padding-left: 3%;
}
  
.titre_description_theme{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.titre_theme{
    height: 50%;
    width: 100%;
    font-size: 50px;
    margin-bottom: 14px;
}
  
.description_theme{
    height: 50%;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}
  
.tri_theme{
    height: 50px;
    width: 100%;
    border-top: 0.2px solid $footandheadColorHover;
    border-bottom: 0.2px solid $footandheadColorHover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.nbResultats{
    font-size: 14px;
}
  
.trier_par{
    font-weight: bold;
}
 
.type_tri{
    margin-left: 15px;
    cursor: pointer;
}
  
.type_tri:hover{
    text-decoration: underline;
}
  
.resultat_photos{
    height: 91%;
    width: 100%;
    color: $mainColor;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.pagination{
    height: 3%;
    width: 100%;
    color: $mainColor;
    border-radius: 0;
    border-top: 0.2px solid $footandheadColorHover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding-top: 30px;
}
  
.page_numero, .page_suivante{
    margin-left: 15px;
}
  
.page_numero:hover, .page_suivante:hover, .page_precedente:hover{
    text-decoration: underline;
    cursor: pointer;
}
  
.filtrage{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.filtre_themes, .filtre_orientation, .filtre_formats, .filtre_prix, .filtre_avances{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
  
.differents_prix, .differents_themes, .differents_avances, .differents_formats, .differentes_orientations{
    display: flex;
    flex-direction: column;
}
  
.titre_filtre{
    font-size: 25px;
    border-bottom: 2px solid $mainColor;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.effacer{
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}
  
.filtre_choisi{
    border-bottom: 0.5px dotted $mainColor;
    margin-top: 5px;
    padding-bottom: 5px;
}
  
.filtre_choisi:hover{
    text-decoration: underline;
    cursor: pointer;
}
  
a.filtre_choisi{
    text-decoration: none;
    color: inherit;
}

.resultat_photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.photo{  
    cursor: pointer;
    box-shadow: 3px 3px 15px $footandheadColor;
}

.photo img {
    width: 100%;
    height: 100%;
}

.titre_oeuvre:hover, .artiste_oeuvre:hover, .orient_choisie:hover, .prix_choisi:hover, .format_choisi:hover{
    text-decoration: underline;
    cursor: pointer;
}

.point{
    cursor: pointer;
}

.div_photo{
    margin-bottom: 30px;
    margin-right: 20px;
}

.description_photo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.aucunResultat{
    font-size: 20px;
}


@media screen and (max-width: 920px){
    
    .description_theme{
        height: 70%;
    }

}