<app-filariane ariane1="{{ariane1}}" ariane2="{{ariane2}}" linkAriane1="{{linkAriane1}}" [boolAriane2]="boolAriane2"></app-filariane>

<section id="corps_de_page">
  <div class="filtrage">
    <div class="filtre_themes">
      <span class="titre_filtre titre_themes">THÈMES</span>
      <div class="differents_themes">
        <span (click)="onTheme($event, '1')" class="filtre_choisi theme_choisi">Noir & Blanc</span>
        <span (click)="onTheme($event, '2')" class="filtre_choisi theme_choisi">Voyages</span>
        <span (click)="onTheme($event, '3')" class="filtre_choisi theme_choisi">Nourriture</span>
        <span (click)="onTheme($event, '4')" class="filtre_choisi theme_choisi">Sports</span>
        <span (click)="onTheme($event, '5')" class="filtre_choisi theme_choisi">Musique</span>
        <span (click)="onTheme($event, '6')" class="filtre_choisi theme_choisi">Animaux</span>
      </div>
    </div>
    <div class="filtre_orientation">
      <div class="titre_filtre titre_orientation">
        <span class="orient">ORIENTATION</span>
        <span *ngIf="orientation!='false'" class="effacer" (click)="effacerSelectionOrientation()">(Effacer)</span>
      </div>
      <div class="differentes_orientations">
        <div class="form-check filtre_choisi" (click)="onOrientation()">
          <input class="form-check-input point" type="checkbox" value="" id="portrait">
          <label class="form-check-label orient_choisie" for="portrait">
            Portrait
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onOrientation()">
          <input class="form-check-input point" type="checkbox" value="" id="paysage">
          <label class="form-check-label orient_choisie" for="paysage">
            Paysage
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onOrientation()">
          <input class="form-check-input point" type="checkbox" value="" id="carre">
          <label class="form-check-label orient_choisie" for="carre">
            Carré
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onOrientation()">
          <input class="form-check-input point" type="checkbox" value="" id="panoramique">
          <label class="form-check-label orient_choisie" for="panoramique">
            Panoramique
          </label>
        </div>
      </div>
    </div>
    <div class="filtre_formats">
      <div class="titre_filtre titre_formats">
        <span class="formats">FORMATS</span>
        <span *ngIf="format!='false'" class="effacer" (click)="effacerSelectionFormat()">(Effacer)</span>
      </div>
      <div class="differents_formats">
        <div class="form-check filtre_choisi" (click)="onFormat()">
          <input class="form-check-input point" type="checkbox" value="" id="classique">
          <label class="form-check-label format_choisi" for="classique">
            Classique
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onFormat()">
          <input class="form-check-input point" type="checkbox" value="" id="grand">
          <label class="form-check-label format_choisi" for="grand">
            Grand
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onFormat()">
          <input class="form-check-input point" type="checkbox" value="" id="geant">
          <label class="form-check-label format_choisi" for="geant">
            Géant
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onFormat()">
          <input class="form-check-input point" type="checkbox" value="" id="collector">
          <label class="form-check-label format_choisi" for="collector">
            Collector
          </label>
        </div>
      </div>
    </div>
    <div class="filtre_prix">
      <div class="titre_filtre titre_formats">
        <span class="prix2">PRIX</span>
        <span *ngIf="prix!='false'" class="effacer" (click)="effacerSelectionPrix()">(Effacer)</span>
      </div>
      <div class="differents_prix">
        <div class="form-check filtre_choisi" (click)="onPrix()">
          <input class="form-check-input point" type="checkbox" value="" id="prix1">
          <label class="form-check-label prix_choisi" for="prix1">
            Moins de 50€
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onPrix()">
          <input class="form-check-input point" type="checkbox" value="" id="prix2">
          <label class="form-check-label prix_choisi" for="prix2">
            De 50€ à 100€
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onPrix()">
          <input class="form-check-input point" type="checkbox" value="" id="prix3">
          <label class="form-check-label prix_choisi" for="prix3">
            De 100€ à 200€
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onPrix()">
          <input class="form-check-input point" type="checkbox" value="" id="prix4">
          <label class="form-check-label prix_choisi" for="prix4">
            De 200€ à 500€
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onPrix()">
          <input class="form-check-input point" type="checkbox" value="" id="prix5">
          <label class="form-check-label prix_choisi" for="prix5">
            De 500€ à 1000€
          </label>
        </div>
        <div class="form-check filtre_choisi" (click)="onPrix()">
          <input class="form-check-input point" type="checkbox" value="" id="prix6">
          <label class="form-check-label prix_choisi" for="prix6">
            Plus de 1000€
          </label>
        </div>
      </div>
    </div>
    <div class="filtre_avances">
      <span class="titre_filtre titre_avances">FILTRAGES AVANCÉS</span>
      <div class="differents_avances">
        <span [routerLink]="['/photographies','nouveautes']" class="filtre_choisi">Nouveautés</span>
        <span [routerLink]="['/photographies','derniers']" class="filtre_choisi">Derniers exemplaires</span>
      </div>
    </div>
  </div>
  <div class="theme">
    <div class="titre_tri_theme">
      <div class="titre_description_theme">
        <span *ngIf="nomTheme=='false'" class="titre_theme">Photographies</span>
        <span *ngIf="nomTheme=='1'" class="titre_theme">Noir & Blanc</span>
        <div *ngIf="nomTheme=='1'" class="description_theme">Une photo en noir et blanc est d'une poésie remarquable.
          Indémodable, la photo noir et blanc met en valeur ses sujets, souligne les contrastes et les lignes, et
          rehausse la lumière pour un rendu sublime. Découvrez les photos noir et blanc de YellowKorner, la nostalgie
          du portrait noir et blanc et les superbes paysages noir et blanc. Précurseur mais moderne, le noir et blanc
          est une valeur sûre qui restera toujours chic. Misez sur une photographie noir et blanc, intemporelle et
          sophistiquée, qui restera toujours populaire.
        </div>
        <span *ngIf="nomTheme=='2'" class="titre_theme">Voyages</span>
        <div *ngIf="nomTheme=='2'" class="description_theme">YellowKorner vous fait voyager avec sa collection de photo
          voyage. Partez à la rencontre de nouvelles cultures, découvrez les photos de Martinique, de Londres, d'Italie
          ou d'Inde, partez en safari photo en Afrique du Sud... La photographie capture les instants uniques et
          authentiques des voyages. Apportez une touche d'exotisme et d'aventure chez vous, et décorez votre intérieur
          avec les plus beaux paysages du monde. Découvrez la sélection de photo voyage de YellowKorner, riche en
          couleurs et en émotions.
        </div>
        <span *ngIf="nomTheme=='3'" class="titre_theme">Nourriture</span>
        <div *ngIf="nomTheme=='3'" class="description_theme">De manière générale, la nourriture désigne les aliments
          d'origine animale, végétale, fongique (parfois bactérienne ou minérale) ou chimique, consommés par des êtres
          vivants à des fins d'alimentation ou de récréation.
        </div>
        <span *ngIf="nomTheme=='4'" class="titre_theme">Sports</span>
        <div *ngIf="nomTheme=='4'" class="description_theme">Le sport est un ensemble d'exercices physiques ou mentaux
          se pratiquant sous forme de jeux individuels ou collectifs pouvant donner lieu à des compétitions. Le sport
          est un phénomène quasi universel dans le temps et dans l'espace humain. La Grèce antique, la Rome antique,
          Byzance, l'Occident médiéval puis moderne, mais aussi l'Amérique précolombienne ou l'Asie, sont tous marqués
          par l'importance du sport. Certaines périodes sont surtout marquées par des interdits.
        </div>
        <span *ngIf="nomTheme=='5'" class="titre_theme">Musique</span>
        <div *ngIf="nomTheme=='5'" class="description_theme">La musique est un art et une activité culturelle
          consistant à combiner sons et silences au cours du temps. Les ingrédients principaux sont le rythme (façon de
          combiner les sons dans le temps), la hauteur (combinaison dans les fréquences), les nuances et le timbre.
          Elle est aujourd'hui considérée comme une forme de poésie moderne.
        </div>
        <span *ngIf="nomTheme=='6'" class="titre_theme">Animaux</span>
        <div *ngIf="nomTheme=='6'" class="description_theme">Un animal (du latin animalis « animé, vivant, animal »)
          est en biologie, selon la classification classique, un être vivant hétérotrophe, c’est-à-dire qu’il se
          nourrit de substances organiques. On réserve aujourd'hui le terme « animal » à des êtres complexes et
          multicellulaires (métazoaires), bien qu’on ait longtemps considéré les protozoaires comme des animaux
          unicellulaires. Comme les autres êtres vivants, tout animal a des semblables avec qui il forme un groupe
          homogène, appelé espèce.
        </div>
      </div>
      <div class="tri_theme">
        <div>
          <span class="trier_par">Trier par :</span>
          <span (click)="modifOrderBy($event)" class="type_tri">Nouveautés</span>
          <span (click)="modifOrderBy($event)" class="type_tri">Meilleures ventes</span>
          <span (click)="modifOrderBy($event)" class="type_tri">Prix croissants</span>
          <span (click)="modifOrderBy($event)" class="type_tri">Prix décroissants</span>
        </div>
        <div>
          <span *ngIf="nbOeuvres==0" class="nbResultats">Aucun résultat</span>
          <span *ngIf="nbOeuvres==1" class="nbResultats">{{nbOeuvres}} résultat</span>
          <span *ngIf="nbOeuvres>1" class="nbResultats">{{nbOeuvres}} résultats</span>
        </div>

      </div>
    </div>
    <div class="resultat_photos">
      <div *ngFor="let oeuvre of oeuvres" class="div_photo">
        <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='CARRE'" class="photo" style="width: 250px; height: 250px;"><img
            src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
        <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='PANORAMIQUE'" class="photo" style="width: 750px; height: 250px;"><img
            src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
        <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='PORTRAIT'" class="photo" style="width: 180px; height: 250px;"><img
            src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
        <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='PAYSAGE'" class="photo" style="width: 390px; height: 250px;"><img
            src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
        <div class="description_photo">
          <span (click)="routingToArtiste(oeuvre.artiste.id)" class="artiste_oeuvre">{{oeuvre.artiste.prenom}}
            {{oeuvre.artiste.nom}}</span>
          <span (click)="routingToAchat(oeuvre.id)" class="titre_oeuvre">{{oeuvre.titrePhoto}}</span>
          <span>À partir de {{oeuvre.prixDeBase | currency:'EUR'}}</span>
        </div>
      </div>

    </div>
    <div *ngIf="nbOeuvres==0" class="resultat_photos">
      Désolé, aucun résultat ne correspond à vos recherches...
    </div>
    <div *ngIf="nbOeuvres>24" class="pagination">
      <span *ngIf="precedente" class="page_precedente" (click)="onPrecedente()"><i class="fas fa-caret-left"></i>
        Précédent</span>
      <span *ngFor="let page of arrayNbPages" class="page_numero" (click)="onPage(page)">{{page}}</span>
      <span *ngIf="suivante" class="page_suivante" (click)="onSuivante()">Suivant <i class="fas fa-caret-right"></i></span>
    </div>
  </div>
</section>