@import "../../variables.scss";

#format{
    display: flex;
    flex-direction: column;
}

.f{
    border: 2px solid $footandheadColorHover;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color 300ms;
    cursor: pointer;
}

.f:hover{
    background-color: $mainColor;
    color: $buttonHoverColor;
    border: none;
}

.f:enabled
{
    background-color: red;
    color: $buttonHoverColor;
}

.taille{
    font-weight: bold;
    font-size: 25px;
}

.prix{
    font-size: 20px;
}

.next{
    margin-top: 15px;
    align-self: flex-end;
}

.next:hover{
    color: $footandheadColorHover;
    cursor: pointer;
}

button{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background-color: $mainBackgroundColor;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}

