<div id="format">


<div *ngFor="let format of tableFormatsDispo">

  <!--enfant->parent  --> 
  <div class="f grand" *ngIf ="format=='GRAND'" id="grand" (click)="choixgrand()">
      <span class="taille">GRAND - 60 x 75cm</span>
      <span class="prix">À partir de <span><!-- parent->enfant -->{{prixFormat * 2.6| number:'1.2-2'}} €</span></span>
    </div>
    <!--enfant->parent  --> 
    <div class="f geant" *ngIf ="format=='GEANT'" id="geant" (click)="choixgeant()">
      <span class="taille">GÉANT - 100 x 125cm</span>
       <span class="prix">À partir de <span><!-- parent->enfant -->{{prixFormat * 5.2| number:'1.2-2'}} €</span></span>
    </div>
    <!--enfant->parent  --> 
    <div class="f collector" *ngIf ="format=='COLLECTOR'" id="collector" (click)="choixcollector()">
      <span class="taille">COLLECTOR - 120 x 150cm</span>
      <span class="prix">À partir de <span><!-- parent->enfant -->{{prixFormat * 13| number:'1.2-2'}} €</span></span>
    </div>
    <!--enfant->parent  --> 
    <div class="f classique" *ngIf ="format=='CLASSIQUE'" id="classique" (click)="choixclassique()">
      <span class="taille">CLASSIQUE - 24 x 30cm</span>
      <span class="prix">À partir de <span><!-- parent->enfant -->{{prixFormat * 1.3| number:'1.2-2'}} €</span></span>
    </div>
  
</div>



  <span *ngIf="choixFormat" class="next" (click)="versFinition()">Etape suivante <i class="fas fa-caret-right"></i></span>

  <!-- <button>Choisir ce format</button> -->


</div>
