@import "../../variables.scss";

form{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 15px;
}

.login{
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;
}

.login:hover{
    cursor: pointer;
    color: $footandheadColorHover;
}

.login .fleche{
    margin-left: 5px;
}

.hautform{
    margin-top: 10px;
}

.payer{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: $mainBackgroundColor;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

.payer:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}

h2{
    margin-top: 30px;
    margin-bottom: 20px;
}

.group {
    background: white;
    box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
                0 3px 6px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .label_cb {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: block;
  }

  .group .label_cb:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
  }
  
  .label_cb > span {
    width: 20%;
    text-align: right;
    float: left;
  }

  .field {
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
    width: 70%;
    height: 40px;
    float: right;
  }
  
  .field::-webkit-input-placeholder { color: #CFD7E0; }
  .field::-moz-placeholder { color: #CFD7E0; }
  .field:-ms-input-placeholder { color: #CFD7E0; }

  .div_modal{
    display: flex;
    justify-content: space-between;
}

.goaccueil{
    display: block;
    margin: auto;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.795); 
    border: 3px solid rgba(255, 0, 0, 0.795);
    transition: background-color 600ms;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.foot{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.foot button{
    width: 45%;
}

  