<app-filariane ariane1="{{ariane1}}" ariane2="{{ariane2}}" linkAriane1="{{linkAriane1}}" boolAriane2="true"></app-filariane>

<form>
  <h1>Paiement</h1>
  <div class="hautform form-group">
    <label for="civilite">Civilité</label>
    <select class="form-control" id="civilite" name="civilite" [(ngModel)]="utilisateur.civilite" required>
      <option>M</option>
      <option>Mme</option>
      <option>Melle</option>
    </select>
  </div>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom..." [(ngModel)]="utilisateur.nom" required>
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre prénom..." [(ngModel)]="utilisateur.prenom" required>
  </div>
  <div class="form-group">
    <label for="telephone">Téléphone</label>
    <input type="text" class="form-control" id="telephone" name="telephone" pattern="[0-9]+" [(ngModel)]="utilisateur.telephone" placeholder="Entrez votre numéro de téléphone..."
      required>
  </div>
  <h2>Adresse de livraison</h2>
  <div class="form-group">
    <label for="rue">Numéro + Rue</label>
    <input type="text" class="form-control" id="rue" name="rue" placeholder="Entrez votre rue..." [(ngModel)]="utilisateur.adresse.rue" required>
  </div>
  <div class="form-group">
    <label for="cp">Code Postal</label>
    <input type="text" class="form-control" id="cp" name="cp" placeholder="Entrez votre code postal..." [(ngModel)]="utilisateur.adresse.codePostal" pattern="[0-9]+"
      required>
  </div>
  <div class="form-group">
    <label for="ville">Ville</label>
    <input type="text" class="form-control" id="ville" name="ville" placeholder="Entrez votre ville..." [(ngModel)]="utilisateur.adresse.ville" required>
  </div>
  <div class="form-group">
    <label for="pays">Pays</label>
    <input type="text" class="form-control" id="pays" name="pays" placeholder="Entrez votre pays..." [(ngModel)]="utilisateur.adresse.pays" required>
  </div>

  <h2>Informations de la carte bancaire</h2>
  <div class="group">
    <label class="label_cb">
      <span>Titulaire de la carte bancaire</span>
      <input name="cardholder-name" class="field titulaire" placeholder="Entrez le titulaire de la carte bancaire..." />
    </label>
  </div>
  <div class="group">
    <label class="label_cb"> 
      <span>Coordonnées de la carte bancaire</span>
      <div id="card-element" class="field coord"></div>
    </label>
  </div>

  <button (click)="onValidation()" type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="payer">Payer ma commande : {{prixData | currency:'€'}}</button>

</form>

<div *ngIf="formValide" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Paiement effectué</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Nous vous remercions pour votre achat et vous invitons à retourner sur la page d'accueil pour en voir plus...
      </div>
      <div class="modal-footer foot">
        <button data-dismiss="modal" [routerLink]="['/welcome']" class="goaccueil">Retour sur la page d'accueil</button>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!formValide" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Informations manquantes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Les informations demandées ne sont pas complétées...
      </div>
    </div>

  </div>
</div>