<app-filariane ariane1="{{ariane1}}" ariane2="{{titre}}" linkAriane1="{{linkAriane1}}" boolAriane2="true"></app-filariane>

<div id="achat">


	<h1>Votre choix sur mesure</h1>

	<div id="container">

		<div class="previsualisation_description">
			<div class="previsualisation_photo">
				<div (click)="routingToAchat(oeuvre.id)" *ngIf="orientation=='PAYSAGE'" class="photo_grande" style="height: 300px;"><img
					 src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
				<div (click)="routingToAchat(oeuvre.id)" *ngIf="orientation=='PORTRAIT'" class="photo_grande" style="height: 620px;"><img
					 src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
				<div (click)="routingToAchat(oeuvre.id)" *ngIf="orientation=='PANORAMIQUE'" class="photo_grande" style="height: 150px;"><img
					 src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
				<div (click)="routingToAchat(oeuvre.id)" *ngIf="orientation=='CARRE'" class="photo_grande" style="height: 450px;"><img
					 src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
			</div>
			<div class="description">
				<span class="nom_photo">{{titre}}</span>
				<span class="nom_artiste" (click)="routingToArtiste(artisteId)">{{artiste}}</span>
				<div class="description_artiste">{{bio}}</div>
			</div>
		</div>

		<div class="personnalisation">
			<div class="titres">
				<h2 (click)="onFormat()">Format</h2>
				<span><i class="fas fa-arrow-right"></i></span>
				<h2 (click)="onFinition()">Finition</h2>
				<span><i class="fas fa-arrow-right"></i></span>
				<h2 (click)="onCadre()">Cadre</h2>
			</div>
			<app-format *ngIf="format" [tableFormatsDispo]="tableFormatsDispo" [prixFormat]="prix" (etapeFinition)="onFinition()" (formatData)="recupFormat($event)"></app-format>

			<app-finition *ngIf="finition" [formatChoisi]="carac[0]" (etapeFormat)="onFormat()" (etapeCadre)="onCadre()"
			 (finitionData)="recupFinition($event)"></app-finition>
			<app-cadre *ngIf="cadre" [finitionChoisi]="carac[1]" (cadreData)="recupCadre($event)" (etapeFinition)="onFinition()"></app-cadre>

		</div>


	</div>



	<div *ngIf="carac[1] == 2 || carac[2] != 'cadre'" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Ajouté au panier</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="div_modal">
							<div *ngIf="orientation=='CARRE'" class="photo_miniature" style="width: 200px; height: 200px;"><img src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
							<div *ngIf="orientation=='PANORAMIQUE'" class="photo_miniature" style="width: 200px; height: 65px;"><img src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
							<div *ngIf="orientation=='PORTRAIT'" class="photo_miniature" style="width: 200px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
							<div *ngIf="orientation=='PAYSAGE'" class="photo_miniature" style="width: 200px; height: 140px;"><img src="http://localhost:8080/Kartina/photos/{{photo}}"></div>
						
						<div class="description">
							<span class="nom_photoo b">{{titre}}</span>
							<span class="nom_artistee">{{artiste}}</span>
						</div>
						<div class="options_choisies">
							<p><span class="format b">Format : </span>
								<span *ngIf="carac[0] == 0" class="format_choisi">Classique</span>
								<span *ngIf="carac[0] == 1" class="format_choisi">Grand</span>
								<span *ngIf="carac[0] == 2" class="format_choisi">Géant</span>
								<span *ngIf="carac[0] == 3" class="format_choisi">Collector</span>
							</p>
							<p><span class="finition b">Finition : </span>
								<span *ngIf="carac[1] == 0" class="finition_choisie">Aluminium</span>
								<span *ngIf="carac[1] == 1" class="finition_choisie">Aluminium avec verre acrylique</span>
								<span *ngIf="carac[1] == 2" class="finition_choisie">Papier photo</span>
								<span *ngIf="carac[1] == 3" class="finition_choisie">Blackout</span>
								<span *ngIf="carac[1] == 4" class="finition_choisie">Artshot</span>
							</p>
							<p><span class="cadre b">Cadre : </span>
								<span *ngIf="carac[2] == 0" class="cadre_choisi">Sans encadrement</span>
								<span *ngIf="carac[2] == 1" class="cadre_choisi">Noir satin</span>
								<span *ngIf="carac[2] == 2" class="finition_choisie">Blanc satin</span>
								<span *ngIf="carac[2] == 3" class="finition_choisie">Noyer</span>
								<span *ngIf="carac[2] == 4" class="finition_choisie">Chêne</span>
								<span *ngIf="carac[2] == 6" class="finition_choisie">Aluminium noir</span>
								<span *ngIf="carac[2] == 7" class="finition_choisie">Bois blanc</span>
								<span *ngIf="carac[2] == 8" class="finition_choisie">Acajou mat</span>
								<span *ngIf="carac[2] == 9" class="finition_choisie">Aluminium brossé</span>
							</p>
						</div>
						<span class="prix b">{{prixFinal | number:'1.2-2'}} €</span>

					</div>
				</div>
				<div class="modal-footer foot">
					<button (click)="envoiCookie()" class="achats" data-dismiss="modal" [routerLink]="['/photographies']">Continuer
						mes achats</button>
					<button (click)="envoiCookie()" data-dismiss="modal" [routerLink]="['/panier']" class="voirpanier">Voir mon panier</button>
				</div>
			</div>

		</div>
	</div>



</div>