@import "../../variables.scss";

#achat{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 50px;
}

.photo_grande{
    width: 100%;
    box-shadow: 5px 5px 25px $footandheadColor;
    border-radius: 10px;
}

.photo_grande img{
    width: 100%;    
    height: 100%;
    border-radius: 10px;
}

.nom_artiste:hover{
    text-decoration: underline;
    cursor: pointer;
}

.photo_miniatures{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
}

.photo_miniature1, .photo_miniature2{
    width: 15%;
    
    
    background-size: 100% 100%;
    border: 5px solid $footandheadColorHover;
    cursor: pointer;
}

img
{
    width: 100%;
    
}


.photo_miniature1{
    margin-right: 50px;
}

.previsualisation_photo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.previsualisation_description{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
}

.nom_photo{
    font-weight: bold;
    font-size: 25px;
}

.description{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.nom_artiste{
    font-size: 25px;
    margin-bottom: 5px;
}

#container{
    display: flex;
}

.personnalisation{
    width: 50%;
}

.titres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
}

.titres span{
    font-size: 20px;
}

h2{
    cursor: pointer;
}

h2:hover{
    color: $footandheadColorHover;
}

.validation, .achats{
    background-color: $mainBackgroundColor;
    display: block;
    margin: auto;
    width: 300px;
    height: 50px;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

.validation:hover, .achats:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}

.voirpanier{
    display: block;
    margin: auto;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.795); 
    border: 3px solid rgba(255, 0, 0, 0.795);
    transition: background-color 600ms;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.foot{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.foot button{
    width: 45%;
}

.div_modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
}

.options_choisies{
    display: flex;
    flex-direction: column;
}

.b{
    font-weight: bold;
}

.photo_miniature{
    box-shadow: 1px 1px 5px $footandheadColor;
}

.photo_miniature img {
    width: 100%;
    height: 100%;
}