@import "../../variables.scss";

#compte{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 30px;
}

h2{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 20px;
}

.connexion{
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.bouton_et_creer{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.creercompte{
    align-self: flex-end;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.creercompte:hover{
    color: $footandheadColorHover;
}

.fleche{
    margin-left: 3px;
}

.bouton_et_creer button{
    width: 300px;
    height: 50px;
    background-color: $mainBackgroundColor;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

.bouton_et_creer button:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}