<app-filariane ariane1="{{ariane1}}"></app-filariane>

<div id="compte">

  <h1>Compte Kartina</h1>

  <div class="jumbotron connexion">

    <h2>Connectez-vous ici</h2>
    <div class="form-group">
      <label for="adresse_email">Adresse email</label>
      <input type="email" class="form-control" id="adresse_email" name="adresse_email" [(ngModel)]="_email"
        placeholder="Entrez votre adresse email..." (blur)="verifIdentifiants()" required>
    </div>
    <div class="form-group">
      <label for="mot_de_passe">Mot de passe</label>
      <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe" [(ngModel)]="_mot_de_passe"
        placeholder="Entrez votre mot de passe..." (blur)="verifIdentifiants()" required>
    </div>
    <div class="bouton_et_creer">
    	<button data-toggle="modal" data-target="#exampleModalCenterc" (click)="connexion()">Connexion</button>
      

      <span class="creercompte" [routerLink]="['/creercompte']" >Pas encore inscrit ? Créez votre compte <i class="fas fa-caret-right fleche"></i></span>
    </div>
    

  </div>

</div>

<div *ngIf="!checkConnexionBool" class="modal fade" id="exampleModalCenterc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Problème Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ces identifiants ne sont pas connus...
            </div>
            
        </div>

    </div>
</div>

<div *ngIf="checkCompteBloqueBool" class="modal fade" id="exampleModalCenterc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Problème Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Votre compte est actuellement bloqué. Merci de bien vouloir contacter le service client pour en savoir plus...
            </div>
            
        </div>

    </div>
</div>
