<app-filariane ariane1="{{ariane1}}"></app-filariane>

<div id="panier">

  <h1>Mon panier</h1>

  <div *ngIf="panierRempli" class="mon_panier">
    <div *ngFor="let oeuvre of oeuvresGet" class="article">
        <div class="div_photo">
          <div (click)="routingToAchat(oeuvre._id)" *ngIf="oeuvre._orientation=='CARRE'" class="photo" style="width: 250px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre._lienImage}}"></div>
          <div (click)="routingToAchat(oeuvre._id)" *ngIf="oeuvre._orientation=='PANORAMIQUE'" class="photo" style="width: 250px; height: 80px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre._lienImage}}"></div>
          <div (click)="routingToAchat(oeuvre._id)" *ngIf="oeuvre._orientation=='PORTRAIT'" class="photo" style="width: 250px; height: 310px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre._lienImage}}"></div>
          <div (click)="routingToAchat(oeuvre._id)" *ngIf="oeuvre._orientation=='PAYSAGE'" class="photo" style="width: 250px; height: 180px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre._lienImage}}"></div>
            <div class="description_photo">
              <span (click)="routingToArtiste(oeuvre._artiste._id)" class="underline">{{oeuvre._artiste._prenom}} {{oeuvre._artiste._nom}}</span>
              <span (click)="routingToAchat(oeuvre._id)" class="underline">{{oeuvre._titrePhoto}}</span>
            </div>
        </div>
        <div class="options">
          <span class="titre">Format</span>
          <span *ngIf="oeuvre._formatChoisi==0">Classique - 24 x 30 cm</span>
          <span *ngIf="oeuvre._formatChoisi==1">Grand - 60 x 75 cm</span>
          <span *ngIf="oeuvre._formatChoisi==2">Géant - 100 x 125 cm</span>
          <span *ngIf="oeuvre._formatChoisi==3">Collector - 120 x 150 cm</span>
          <span class="titre">Finition</span>
          <span *ngIf="oeuvre._finition==0">Support Aluminium</span>
          <span *ngIf="oeuvre._finition==1">Support Aluminium avec verre acrylique</span>
          <span *ngIf="oeuvre._finition==2">Tirage sur papier photo</span>
          <span *ngIf="oeuvre._finition==3">Passe-partout noir</span>
          <span *ngIf="oeuvre._finition==4">Passe-partout blanc</span>
          <span class="titre">Cadre</span>
          <span *ngIf="oeuvre._cadre==0">Sans encadrement</span>
          <span *ngIf="oeuvre._cadre==1">Noir satin</span>
          <span *ngIf="oeuvre._cadre==2">Blanc satin</span>
          <span *ngIf="oeuvre._cadre==3">Noyer</span>
          <span *ngIf="oeuvre._cadre==4">Chêne</span>
          <span *ngIf="oeuvre._cadre==5">Sans encadrement</span>
          <span *ngIf="oeuvre._cadre==6">Aluminium noir</span>
          <span *ngIf="oeuvre._cadre==7">Bois blanc</span>
          <span *ngIf="oeuvre._cadre==8">Acajou mat</span>
          <span *ngIf="oeuvre._cadre==9">Aluminium brossé</span>
        </div>
        <div class="quantite">
          <label for="quantite" class="titre">Quantité</label>
          <div class="quantite_supprimer">
            <input (change)="calculPrixTotal()" type="number" class="form-control" id="quantite" name="quantite" min="1" [(ngModel)]="oeuvre._quantite" required>
            <a (click)="supprimerArticle(oeuvre._id)"><i class="fas fa-trash-alt supprimer"></i></a>
          </div>
          
        </div>
        <div class="prix">
          <span class="titre">Prix</span>
          <span class="prix_article">{{oeuvre._prixAchat * oeuvre._quantite | currency : '€'}}</span>
        </div>
    </div>

    <div class="validation_commande">
      <div class="total">
        <span class="titre">Prix total :</span>
        <div class="prix_tva">
            <span class="prix_total">{{prixTotal | currency:'€'}}</span>
            <span class="tva">dont TVA (20%) : {{prixTotal*0.2 | currency:'€'}}</span>
        </div>
      </div>
      <button (click)="onPaiement()">Valider mon panier et aller au paiement</button>
    </div>
      


  </div>

  <div *ngIf="!panierRempli" class="aucun_article">
    Vous n'avez actuellement aucun article dans votre panier...
  </div>

</div>
