@import "../../variables.scss";

#panier{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin: 0;
}

.article{
    display: flex;
    padding-bottom: 20px;
    padding-top: 50px;
    justify-content: space-between;
    border-bottom: 0.2px solid $footandheadColorHover;
}

.div_photo{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.photo{
    box-shadow: 2px 2px 10px $footandheadColor;
    cursor: pointer;
}

.photo img {
    width: 100%;
    height: 100%;
}

.aucun_article{
    padding-top: 40px;
    padding-bottom: 250px;
}

.description_photo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.options{
    display: flex;
    flex-direction: column;
}

#quantite{
    width: 60px;
}

.quantite_supprimer{
    display: flex;
    align-items: center;
}

.supprimer{
    font-size: 20px;
    color: #f22b2b;
    margin-left: 10px;
}

.prix{
    display: flex;
    flex-direction: column;
}

.prix_article{
    margin-top: 5px;
    font-size: 30px;
}

.titre{
    font-weight: bold;
}

.validation_commande{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: $mainBackgroundColor;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}

.total{
    display: flex;
    font-size: 30px;
    align-items: center;
}

.prix_tva{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 15px;
}

.tva{
    font-size: 15px;
}

.prix_total{
    margin-left: 100px;
    font-size: 50px;
}

.underline:hover{
    cursor: pointer;
    text-decoration: underline;
}