@import "../../variables.scss";

#finition{
    height: 93%;
}

.classique, .autres_formats{
    display: flex;
    flex-direction: column;
}

.f{
    border: 2px solid $footandheadColorHover;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: background-color 300ms;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.f img {
    height: 60px;
    width: 95px;
}

.f:hover{
    background-color: $mainColor;
    color: $buttonHoverColor;
    border: none;
}

.f:active
{
    background-color: $mainColor;
    color: $buttonHoverColor;
}

.lastnext{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.next:hover, .last:hover{
    color: $footandheadColorHover;
    cursor: pointer;
}

button{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background-color: $mainBackgroundColor;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}