<div id="finition">

  <div *ngIf="formatChoisi == 0" class="classique">
      <div class="f ppnoir" (click)="choixBlackout()">
        Passe-partout noir avec liseret blanc
        <img src="../../assets/images/blackout.jpg">
      </div>
      <div class="f ppblanc" (click)="choixArtshot()">
        Passe-partout blanc
        <img src="../../assets/images/artshot.jpg">
      </div>
      
      <div class="lastnext">
        <span class="last" (click)="versFormat()"><i class="fas fa-caret-left"></i> Etape précédente</span>
        <span *ngIf="choixFinition" (click)="versCadre()" class="next">Etape suivante <i class="fas fa-caret-right"></i></span>
      </div>
    
  </div>

  <div *ngIf="formatChoisi == 1 || formatChoisi == 2 || formatChoisi==3" class="autres_formats">
      <div class="f aluminium" (click)="choixSupportAluminium()">
        Support Aluminium
        <img src="../../assets/images/aluminium.jpg">
      </div>
      <div class="f acrylique" (click)="choixSupportAluminiumAvecVerreAcrylique()">
        Support Aluminium avec Verre Acrylique
        <img src="../../assets/images/acrylique.jpg">
      </div>
      <div class="f papierphoto" (click)="choixTirageSurPapierPhoto()">
        Tirage sur papier photo
        <img src="../../assets/images/papierphoto.jpg">
      </div>
      
      <div class="lastnext">
        <span class="last" (click)="versFormat()"><i class="fas fa-caret-left"></i> Etape précédente</span>
        <span *ngIf="choixFinition" (click)="versCadre()" class="next">Etape suivante <i class="fas fa-caret-right"></i></span>
      </div>
      
      
      <button *ngIf="choixTirage" class="validation" data-toggle="modal"
			data-target="#exampleModalCenter" (click)="versAchat()">Ajouter
			au panier</button>
      <!-- <button>Choisir cette finition</button>-->
  </div>

    
  
  
</div>
