@import "../../variables.scss";

form{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 30px;
}

.inscription{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: $mainBackgroundColor;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

.inscription:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}

.div_modal{
    display: flex;
    justify-content: space-between;
}

.goaccueil{
    display: block;
    margin: auto;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.795); 
    border: 3px solid rgba(255, 0, 0, 0.795);
    transition: background-color 600ms;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.foot{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.foot button{
    width: 45%;
}