<app-filariane ariane1="{{ariane1}}"></app-filariane>
<form>
    <h1>Inscription</h1>
    <div class="form-group">
        <label for="civilite">Civilité</label>
        <select class="form-control" id="civilite" name="civilite" [(ngModel)]="_civilite" required>
            <option>M</option>
            <option>Mme</option>
            <option>Melle</option>
        </select>
    </div>
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name=nom [(ngModel)]="_nom" placeholder="Entrez votre nom..." required>
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre prénom..." [(ngModel)]="_prenom" required>
    </div>
    <div class="form-group">
        <label for="adresse_email">Adresse email</label>
        <input type="email" class="form-control" id="adresse_email" name="adresse_email" [(ngModel)]="_email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="Entrez votre adresse email..." (blur)="verifEmail()" required>
    </div>
    <div class="form-group">
        <label for="mot_de_passe">Mot de passe</label>
        <input type="password" class="form-control" id="mot_de_passe" pattern="[a-zA-Z0-9]{6,}" name="mot_de_passe" [(ngModel)]="_mot_de_passe"
            placeholder="Entrez votre mot de passe..." required>
    </div>
    <div class="form-group">
        <label for="check_mot_de_passe">Confirmation Mot de passe</label>
        <input type="password" class="form-control" id="check_mot_de_passe" pattern="[a-zA-Z0-9]{6,}" name="check_mot_de_passe" [(ngModel)]="_check_mot_de_passe"
            placeholder="Confirmez votre mot de passe..." required>
    </div>
    <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" class="form-control" id="telephone" name="telephone" pattern="[0-9]+" placeholder="Entrez votre numéro de téléphone..."
            [(ngModel)]="_telephone" required>
    </div>
    <div class="form-group">
        <label for="rue">Numéro et rue</label>
        <input type="text" class="form-control" id="rue" name="rue" placeholder="Entrez votre numéro et rue..."
            [(ngModel)]="_rue" required>
    </div>
    <div class="form-group">
        <label for="codePostal">Code postal</label>
        <input type="text" class="form-control" id="codePostal" name="codePostal" pattern="[0-9]+" placeholder="Entrez votre code postal..."
            [(ngModel)]="_codePostal" required>
    </div>
    <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville" name="ville" placeholder="Entrez votre ville..."
            [(ngModel)]="_ville" required>
    </div>
    <div class="form-group">
        <label for="pays">Pays</label>
        <input type="text" class="form-control" id="pays" name="pays" placeholder="Entrez votre pays..."
            [(ngModel)]="_pays" required>
    </div>
    
    
    <button type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="inscription" (click)="creation()">S'inscrire</button>
</form>

<div *ngIf="confirmation" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Inscription validée</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Merci pour votre inscription. Vous pouvez maintenant vous connecter à votre compte personnel...
            </div>
            <div class="modal-footer foot">
                <button data-dismiss="modal" [routerLink]="['/compte']" class="goaccueil">Retour sur la page d'accueil</button>
            </div>
        </div>

    </div>
</div>

<div *ngIf="!formValide" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Problème Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vous devez remplir tous les champs !
            </div>
            
        </div>

    </div>
</div>

<div *ngIf="!checkPwd" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Problème Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Les deux mots de passe doivent être identiques !
            </div>
            
        </div>

    </div>
</div>

<div *ngIf="!checkEmailBool" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Problème Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vous êtes déjà inscrit....
            </div>
            <div class="modal-footer foot">
                <button data-dismiss="modal" [routerLink]="['/compte']" class="goaccueil">Retour sur la page d'accueil</button>
            </div>
        </div>

    </div>
</div>