@import "../../variables.scss";

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 15px;
    padding-top: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

div{
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}