<div id="container">

    <app-header></app-header>

    <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate">
    </mat-progress-bar>

    <router-outlet></router-outlet>

    <app-footer></app-footer>

</div>