@import "../variables.scss";

#container{
    position: relative;
    font-family: $mainFont, $secondFont, sans-serif;
    background-color: $mainBackgroundColor;
    color: $mainColor;
}
  
app-header{
    position: relative;
    height: 170px;
    display: flex;
    flex-direction: column;
    background : linear-gradient(to bottom right, $footandheadBackgroundColor, white);
    color: $footandheadColor;
    font-size: 22px;
}

app-footer{
    background-color: $footandheadBackgroundColor;
    color: $footandheadColor;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background : linear-gradient(to bottom right, $footandheadBackgroundColor, white);
    font-size: 22px;
}


