@import "../../variables.scss";

#cadre{
    height: 93%;
}

.aluminium, .autres_finitions{
    display: flex;
    flex-direction: column;
}

.c{
    border: 2px solid $footandheadColorHover;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: background-color 300ms;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.c img {
    height: 60px;
    width: 95px;
}

.c:hover{
    background-color: $mainColor;
    color: $buttonHoverColor;
    border: none;
}

.last{
    margin-top: 15px;
    align-self: flex-start;
}

.last:hover{
    color: $footandheadColorHover;
    cursor: pointer;
}

.validation, .achats{
    background-color: $mainBackgroundColor;
    display: block;
    margin: auto;
    width: 300px;
    height: 50px;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

.validation:hover, .achats:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}

.voirpanier{
    display: block;
    margin: auto;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.795); 
    border: 3px solid rgba(255, 0, 0, 0.795);
    transition: background-color 600ms;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.foot{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.foot button{
    width: 45%;
}

.div_modal{
    display: flex;
    justify-content: space-between;
}

.photo_miniature{
    width: 100px;
    height: 100px;
    background-image: url("../../assets/images/karijini.jpg");
    background-size: 100% 100%;
}

.description{
    display: flex;
    flex-direction: column;
}

.options_choisies{
    display: flex;
    flex-direction: column;
}

.b{
    font-weight: bold;
}

