<div id="cadre">

	<div
		*ngIf="finitionChoisi == 0 || finitionChoisi == 1"
		class="aluminium">
		<div class="c sans" (click)="choixSans()">Sans encadrement
			<img src="../../assets/images/sansencadrement.jpg">
		</div>
		<div class="c noirsatin" (click)="choixNoirSatin()">Encadrement
			noir satin
			<img src="../../assets/images/noirsatin.jpg"></div>
		<div class="c blancsatin" (click)="choixBlancSatin()">
			Encadrement blanc satin
			<img src="../../assets/images/blancsatin.jpg"></div>
		<div class="c noyer" (click)="choixNoyer()">Encadrement noyer
			<img src="../../assets/images/noyer.jpg">
		</div>
		<div class="c chene" (click)="choixChene()">Encadrement chêne
			<img src="../../assets/images/chene.jpg">
		</div>

		<span class="last"><i class="fas fa-caret-left"></i> Etape
			précédente</span>

		<button class="validation" data-toggle="modal"
			data-target="#exampleModalCenter">Ajouter au panier</button>
	</div>

	<div
		*ngIf="finitionChoisi == 3 || finitionChoisi == 4"
		class="autres_finitions">
		<div class="c alunoir" (click)="choixAluNoir()">Aluminum noir
			<img src="../../assets/images/alunoir.jpg">
		</div>
		<div class="c boisblanc" (click)="choixBoisBlanc()">Bois blanc
			<img src="../../assets/images/boisblanc.jpg">
		</div>
		<div class="c acajoumat" (click)="choixAcajouMat()">Acajou mat
			<img src="../../assets/images/acajoutmat.jpg">
		</div>
		<div class="c alubrosse" (click)="choixAluBrosse()">Aluminium
			brossé
			<img src="../../assets/images/alubrosse.jpg"></div>

		<span class="last" (click)="versFinition()"><i class="fas fa-caret-left"></i> Etape
			précédente</span>

		<button *ngIf="choixCadre" class="validation" data-toggle="modal"
			data-target="#exampleModalCenter" (click)="versAchat()">Ajouter
			au panier</button>
	</div>



	<!-- Modal a faire -->

	<!-- 
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Ajouté au panier</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="div_modal">
						<div class="photo_miniature"></div>
						<div class="description">
							<span class="nom_photo b">Nom de la photographie</span>
							<span class="nom_artiste">Aurélien Villette</span>
						</div>
						<div class="options_choisies">
							<span class="format b">Format</span> <span class="format_choisi">Géant</span>
							<span class="finition b">Finition</span>
							<span class="finition_choisie">Support Aluminium avec verre acrylique</span>
							<span class="cadre b">Cadre</span>
							<span class="cadre_choisi">Encadrement blanc satin</span>
						</div>
						<span class="prix b">110,00 €</span>

					</div>
				</div>
				<div class="modal-footer foot">
					<button class="achats" data-dismiss="modal" [routerLink]="['/photographies']">Continuer mes achats</button>
					<button data-dismiss="modal" [routerLink]="['/panier']" class="voirpanier">Voir mon panier</button>
				</div>
			</div>

		</div>
	</div>
	-->
	
	
</div>





