<app-filariane ariane1="{{ariane1}}"></app-filariane>

<form>
  <h1>Aide</h1>
  <div class="form-group">
    <label for="civilite">Civilité</label>
    <select class="form-control" id="civilite" name="civilite" required>
      <option *ngIf="dataclient.user.civilite=='M'" selected>M</option>
      <option *ngIf="dataclient.user.civilite!='M'">M</option>
      <option *ngIf="dataclient.user.civilite=='Mme'" selected>Mme</option>
      <option *ngIf="dataclient.user.civilite!='Mme'">Mme</option>
      <option *ngIf="dataclient.user.civilite=='Melle'" selected>Melle</option>
      <option *ngIf="dataclient.user.civilite!='Melle'">Melle</option>
    </select>
  </div>
  <div class="form-group">
    <!-- Récupération valeurs envoyées par angular (dans dataclient.user, 2 façons de faire : value OU ngModel)  -->
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="dataclient.user.nom"
           placeholder="Entrez votre nom..." required>
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="dataclient.user.prenom"
           placeholder="Entrez votre prénom..." required>
  </div>
  <div class="form-group">
    <label for="adresse_email">Adresse email</label>
    <input type="email" class="form-control" id="adresse_email" name="adresse_email" [(ngModel)]="dataclient.user.email"
           pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Entrez votre adresse email..." required>
  </div>
  <div class="form-group">
    <label for="telephone">Téléphone</label>
    <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="dataclient.user.telephone"
           pattern="[0-9]+" placeholder="Entrez votre numéro de téléphone..." required>
  </div>
  <div class="form-group">
    <label for="sujet">Sujet</label>
    <select class="form-control" id="sujet" name="sujet" [(ngModel)]="dataclient.sujet" required>{{sujet}}
      <option>Aide pour commander</option>
      <option>Après-vente, échange et retour</option>
      <option>Problème technique</option>
      <option>Autres sujets</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3" maxlength="1000"
              placeholder="Entrez votre message..." [(ngModel)]="dataclient.message" required>{{message}}</textarea>
  </div>
  <!-- <button type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="envoi">Envoyer</button -->
  <!-- <input type="button" type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="envoi" value ="Envoyer"
      onclick="window.location.href='mailto:kartina.supclient@gmail.com?body=Message de écran aide'"/> -->

  <!-- Envoi de l'email (appel fonction EnvoiMail de aide.component.ts) -->
  <input type="button" type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="envoi" value="Envoyer"
         (click)="EnvoiMail()"/>

</form>

<div *ngIf="formValide" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Demande envoyée</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Votre requête a bien été envoyée. Vous recevrez prochainement une réponse de la part de notre service sur votre
        boîte email...
      </div>
      <div class="modal-footer foot">
        <button data-dismiss="modal" [routerLink]="['/welcome']" class="goaccueil">Retour sur la page d'accueil</button>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!formValide" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Informations manquantes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ceratins champs n'ont pas été remplis...
      </div>
    </div>

  </div>
</div>