@import "../../variables.scss";

#nouvelles_oeuvres{
    display: flex;
    width: 100%;
    height: 500px;
}
  
  
#explorer_nouvelles{
    display: flex;
    //width: 30%;
    background-color: $footandheadBackgroundColor;
    flex-direction: column;
    justify-content: space-between;
    color: $mainColor;
    background : linear-gradient(to right, $footandheadBackgroundColor, white);
}
  
.nouvelles{
    padding-left: 10%;
}
  
#titres_nouvelles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
#titre_nouvelles{
    font-size: 60px;
    padding-top: 15%;
}
  
#titre_nouvelle_collection{
    margin-top: 10px;
    font-size: 18px;
}
  
#bouton_nouvelles{
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 10%;
    margin-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
  
#bouton_nouvelles:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}
  
#photo_nouvelles{
    //width: 70%;
    background-size: 100% 100%;
}

#photo_nouvelles img{
    box-shadow: 3px 3px 15px $footandheadColor;
}
  
.photo {
    box-shadow: 3px 3px 15px $footandheadColor;
}

.photo img{
    width: 100%;
    height: 100%;
}
  
#meilleures_ventes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: $mainColor;
}

.div_photo{
    margin-bottom: 30px;
}
  
.titre_photos_art{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
  
.photos_art{
    font-size: 50px;
    margin-bottom: 10px;
}

.oeuvres_limitees{
    font-size: 18px;
}
  
.six_meilleures_ventes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
  
.photo{
    width: 400px;
    height: 350px;
    cursor: pointer;
    background-size: 100% 100%;
}

.photo img, #photo_nouvelles img {
    width: 100%;
    height: 100%;
}
  
#bouton_meilleures_ventes{
    margin-top: 10px;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
  
#bouton_meilleures_ventes:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}
  
.description_photo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
}
  
  
#quatro{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    color: $mainColor;
}
  
.quatro_ligne{
    display: flex;
    height: 50%;
    width: 100%;
}
  
#quatro1,#quatro2, #quatro3, #quatro4{
    width: 50%;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: 100% 100%;
}

.description_quatro1, .description_quatro2, .description_quatro3, .description_quatro4{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
  
  .bouton_quatro{
    width: 100%;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size: 20px;
  }
  
  .bouton_quatro:hover{
    background-color: $mainColor;
    color: $buttonHoverColor;
    text-decoration: none;
  }
  
  .titre_quatro{
    font-size: 40px;
  }

  .desc_quatro{
      font-size: 20px;
  }

.underline:hover{
    text-decoration: underline;
    color: inherit;
}
