<section id="nouvelles_oeuvres" *ngIf="orientation0=='PAYSAGE'">
 
  <div id="explorer_nouvelles" style="width:40%;">
  
    <div id="titres_nouvelles">
   
      <span class="nouvelles" id="titre_nouvelles">Nouvelles oeuvres</span>
      <span class="nouvelles" id="titre_nouvelle_collection">Venez découvrir les dernières sorties photos</span>
    </div>
    
    <a [routerLink]="['/photographies','nouveautes']" id="bouton_nouvelles">Explorer la nouvelle collection <i class="fas fa-caret-right"></i></a>
  </div>
  <div id="photo_nouvelles" style="width:60%;"><img src="http://localhost:8080/Kartina/photos/{{photo0}}"></div>
</section>

<section id="nouvelles_oeuvres" *ngIf="orientation0=='PANORAMIQUE'">
 
  <div id="explorer_nouvelles" style="width:30%;">
  
    <div id="titres_nouvelles">
   
      <span class="nouvelles" id="titre_nouvelles">Nouvelles oeuvres</span>
      <span class="nouvelles" id="titre_nouvelle_collection">Venez découvrir les dernières sorties photos</span>
    </div>
    
    <a [routerLink]="['/photographies','nouveautes']" id="bouton_nouvelles">Explorer la nouvelle collection <i class="fas fa-caret-right"></i></a>
  </div>
  <div id="photo_nouvelles" style="width:70%;"><img src="http://localhost:8080/Kartina/photos/{{photo0}}"></div>
</section>

<section id="nouvelles_oeuvres" *ngIf="orientation0=='CARRE'">
 
  <div id="explorer_nouvelles" style="width:50%;">
  
    <div id="titres_nouvelles">
   
      <span class="nouvelles" id="titre_nouvelles">Nouvelles oeuvres</span>
      <span class="nouvelles" id="titre_nouvelle_collection">Venez découvrir les dernières sorties photos</span>
    </div>
    
    <a [routerLink]="['/photographies','nouveautes']" id="bouton_nouvelles">Explorer la nouvelle collection <i class="fas fa-caret-right"></i></a>
  </div>
  <div id="photo_nouvelles" style="width:50%;"><img src="http://localhost:8080/Kartina/photos/{{photo0}}"></div>
</section>

<section id="nouvelles_oeuvres" *ngIf="orientation0=='PORTRAIT'">
 
  <div id="explorer_nouvelles" style="width:70%;">
  
    <div id="titres_nouvelles">
   
      <span class="nouvelles" id="titre_nouvelles">Nouvelles oeuvres</span>
      <span class="nouvelles" id="titre_nouvelle_collection">Venez découvrir les dernières sorties photos</span>
    </div>
    
    <a [routerLink]="['/photographies','nouveautes']" id="bouton_nouvelles">Explorer la nouvelle collection <i class="fas fa-caret-right"></i></a>
  </div>
  <div id="photo_nouvelles" style="width:30%;"><img src="http://localhost:8080/Kartina/photos/{{photo0}}"></div>
</section>

<section id="meilleures_ventes">
  <div class="titre_photos_art">
    <span class="photos_art">Photographies d'art</span>
    <span class="oeuvres_limitees">Oeuvres en édition limitée et numérotée avec certificat d'authenticité</span>
  </div>
  <div class="six_meilleures_ventes">
    <div class="div_photo1 div_photo">
      <div (click)="routingToAchat(id1)" class="photo photo1" *ngIf="orientation1=='CARRE'" style="width: 250px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo1}}"></div>
      <div (click)="routingToAchat(id1)" class="photo photo1" *ngIf="orientation1=='PANORAMIQUE'" style="width: 750px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo1}}"></div>
      <div (click)="routingToAchat(id1)" class="photo photo1" *ngIf="orientation1=='PORTRAIT'" style="width: 180px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo1}}"></div>
      <div (click)="routingToAchat(id1)" class="photo photo1" *ngIf="orientation1=='PAYSAGE'" style="width: 390px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo1}}"></div>
      <div class="description_photo_1 description_photo">

        <a class="underline" [routerLink]="['/artiste', idartiste1]">{{artiste1}}</a>
        <a class="underline" [routerLink]="['/achat', id1]">{{titre1}}</a>
        <span>À partir de {{prix1 | currency:'€'}}</span>

      </div>
    </div>
    <div class="div_photo2 div_photo">
      <div (click)="routingToAchat(id2)" class="photo photo1" *ngIf="orientation2=='CARRE'" style="width: 250px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo2}}"></div>
      <div (click)="routingToAchat(id2)" class="photo photo1" *ngIf="orientation2=='PANORAMIQUE'" style="width: 750px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo2}}"></div>
      <div (click)="routingToAchat(id2)" class="photo photo1" *ngIf="orientation2=='PORTRAIT'" style="width: 180px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo2}}"></div>
      <div (click)="routingToAchat(id2)" class="photo photo1" *ngIf="orientation2=='PAYSAGE'" style="width: 390px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo2}}"></div>
      <div class="description_photo_1 description_photo">

        <a class="underline" [routerLink]="['/artiste', idartiste2]">{{artiste2}}</a>
        <a class="underline" [routerLink]="['/achat', id2]">{{titre2}}</a>
        <span>À partir de {{prix2 | currency:'€'}}</span>

      </div>
    </div>
    <div class="div_photo3 div_photo">
      <div (click)="routingToAchat(id3)" class="photo photo1" *ngIf="orientation3=='CARRE'" style="width: 250px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo3}}"></div>
      <div (click)="routingToAchat(id3)" class="photo photo1" *ngIf="orientation3=='PANORAMIQUE'" style="width: 750px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo3}}"></div>
      <div (click)="routingToAchat(id3)" class="photo photo1" *ngIf="orientation3=='PORTRAIT'" style="width: 180px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo3}}"></div>
      <div (click)="routingToAchat(id3)" class="photo photo1" *ngIf="orientation3=='PAYSAGE'" style="width: 390px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo3}}"></div>
      <div class="description_photo_1 description_photo">

        <a class="underline" [routerLink]="['/artiste', idartiste3]">{{artiste3}}</a>
        <a class="underline" [routerLink]="['/achat', id3]">{{titre3}}</a>
        <span>À partir de {{prix3 | currency:'€'}}</span>

      </div>
    </div>
    <div class="div_photo4 div_photo">
      <div (click)="routingToAchat(id4)" class="photo photo1" *ngIf="orientation4=='CARRE'" style="width: 250px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo4}}"></div>
      <div (click)="routingToAchat(id4)" class="photo photo1" *ngIf="orientation4=='PANORAMIQUE'" style="width: 750px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo4}}"></div>
      <div (click)="routingToAchat(id4)" class="photo photo1" *ngIf="orientation4=='PORTRAIT'" style="width: 180px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo4}}"></div>
      <div (click)="routingToAchat(id5)" class="photo photo1" *ngIf="orientation4=='PAYSAGE'" style="width: 390px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo4}}"></div>
      <div class="description_photo_1 description_photo">

        <a class="underline" [routerLink]="['/artiste', idartiste4]">{{artiste4}}</a>
        <a class="underline" [routerLink]="['/achat', id4]">{{titre4}}</a>
        <span>À partir de {{prix4 | currency:'€'}}</span>

      </div>
    </div>
    <div class="div_photo5 div_photo">
      <div (click)="routingToAchat(id5)" class="photo photo1" *ngIf="orientation5=='CARRE'" style="width: 250px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo5}}"></div>
      <div (click)="routingToAchat(id5)" class="photo photo1" *ngIf="orientation5=='PANORAMIQUE'" style="width: 750px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo5}}"></div>
      <div (click)="routingToAchat(id5)" class="photo photo1" *ngIf="orientation5=='PORTRAIT'" style="width: 180px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo5}}"></div>
      <div (click)="routingToAchat(id5)" class="photo photo1" *ngIf="orientation5=='PAYSAGE'" style="width: 390px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo5}}"></div>
      <div class="description_photo_1 description_photo">

        <a class="underline" [routerLink]="['/artiste', idartiste5]">{{artiste5}}</a>
        <a class="underline" [routerLink]="['/achat', id5]">{{titre5}}</a>
        <span>À partir de {{prix5 | currency:'€'}}</span>

      </div>
    </div>
    <div class="div_photo6 div_photo">
      <div (click)="routingToAchat(id6)" class="photo photo1" *ngIf="orientation6=='CARRE'" style="width: 250px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo6}}"></div>
      <div (click)="routingToAchat(id6)" class="photo photo1" *ngIf="orientation6=='PANORAMIQUE'" style="width: 750px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo6}}"></div>
      <div (click)="routingToAchat(id6)" class="photo photo1" *ngIf="orientation6=='PORTRAIT'" style="width: 180px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo6}}"></div>
      <div (click)="routingToAchat(id6)" class="photo photo1" *ngIf="orientation6=='PAYSAGE'" style="width: 390px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{photo6}}"></div>
      <div class="description_photo_1 description_photo">

        <a class="underline" [routerLink]="['/artiste', idartiste6]">{{artiste6}}</a>
        <a class="underline" [routerLink]="['/achat', id6]">{{titre6}}</a>
        <span>À partir de {{prix6 | currency:'€'}}</span>

      </div>
    </div>
  </div>
  <a [routerLink]="['/photographies','meilleures_ventes']" id="bouton_meilleures_ventes">Voir les meilleures ventes <i class="fas fa-caret-right"></i></a>
</section>

<section id="quatro">
  <div class="quatro_ligne">
    <div id="quatro1">
      <div class="description_quatro1">
        <span class="titre_quatro">Voyages</span>
        <span class="desc_quatro">Vivez vos rêves</span>
        <a [routerLink]="['/photographies','voyages']" class="bouton_quatro">Parcourir la collection <i class="fas fa-caret-right"></i></a>
      </div>
    </div>

    <div id="quatro2">
      <div class="description_quatro2">
          <span class="titre_quatro">Noir & Blanc</span>
          <span class="desc_quatro">Des oeuvres intemporelles</span>
          <a [routerLink]="['/photographies','noir_et_blanc']" class="bouton_quatro">Découvrir la collection <i class="fas fa-caret-right"></i></a>
      </div>     
    </div>
  </div>
  <div class="quatro_ligne">
    <div id="quatro3">
      <div class="description_quatro3">
          <span class="titre_quatro">{{artiste9}}</span>
          <a [routerLink]="['/artiste', idartiste9]" class="bouton_quatro">Découvrir l'artiste <i class="fas fa-caret-right"></i></a>
      </div>
    </div>
    <div id="quatro4">
      <div class="description_quatro4">
      
          <span class="titre_quatro">Derniers exemplaires</span>
          <span class="desc_quatro">Ne passer pas à côté de votre oeuvre</span>
          <a [routerLink]="['/photographies','derniers']" class="bouton_quatro">Découvrir les oeuvres <i class="fas fa-caret-right"></i></a>
      </div>
    </div>
  </div>
</section>