<app-filariane ariane1="{{ariane1}}" ariane2="{{ariane2}}" linkAriane1="{{linkAriane1}}" boolAriane2="true"></app-filariane>

<div id="artiste">

  <h1>{{artiste.prenom}} {{artiste.nom}}</h1>
  <div class="biographie">{{artiste.biographie}}</div>
  <div class="reseaux">
    <a class="twitter" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="facebook" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a class="pinterest" href="http://pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
  </div>

  <div class="photos_artiste">
    <div *ngFor="let oeuvre of artiste.oeuvres" class="div_photo">
      <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='CARRE'" class="photo" style="width: 250px; height: 250px;"><img
          src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
      <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='PANORAMIQUE'" class="photo" style="width: 750px; height: 250px;"><img
          src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
      <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='PORTRAIT'" class="photo" style="width: 180px; height: 250px;"><img
          src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
      <div (click)="routingToAchat(oeuvre.id)" *ngIf="oeuvre.orientation=='PAYSAGE'" class="photo" style="width: 390px; height: 250px;"><img
          src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
      <div class="description_photo">
        <span (click)="routingToAchat(oeuvre.id)" class="titre_oeuvre">{{oeuvre.titrePhoto}}</span>
        <span>À partir de {{oeuvre.prixDeBase | currency:'EUR'}}</span>
      </div>
    </div>
  </div>

</div>