@import "../../variables.scss";

.reseaux{
    font-size: 20px;
    margin-top: 15px;
}

.biographie{
    margin-top: 15px;
}

.pinterest, .twitter, .facebook{
    text-decoration: none;
    color: inherit;
}

.facebook:hover, .twitter:hover{
    text-decoration: none;
    color: $fbandtwitterHover;
}

.pinterest:hover{
    text-decoration: none;
    color: $pinterestHover;
}

.pinterest, .facebook{
    margin-left: 12px;
}

#artiste{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}

.photos_artiste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.div_photo{
    margin-bottom: 30px;
    margin-right: 25px;
}

.description_photo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.photo{  
    cursor: pointer;
    box-shadow: 3px 3px 15px $footandheadColor;
}

.photo img {
    width: 100%;
    height: 100%;
}

.titre_oeuvre:hover{
    text-decoration: underline;
    cursor: pointer;
}
