<app-filariane ariane1="{{ariane1}}"></app-filariane>
<div id="user">
  <h1>Mon compte | {{sessionclient.prenom}} {{sessionclient.nom}}</h1>
  <div class="contenu_user">

    <div class="menu_gauche">
      <div class="mon_compte">
        <h3>Mes données</h3>
        <span class="appui" (click)="onDonnees()">Données personnelles</span>
        <span class="appui" (click)="onAdresse()">Adresse de livraison</span>
      </div>
      <div class="historique_commandes">
        <h3>Commandes</h3>
        <span class="appui" (click)="onCommandes()">Historique des commandes</span>
      </div>
      <div *ngIf="vendeur" class="photographies">
        <h3>Photographies</h3>
        <span class="appui" (click)="onNouvelle()">Nouvelle vente</span>
        <span class="appui" (click)="onEnCours()">Ventes en cours</span>
        <span class="appui" (click)="onPassees()">Ventes passées</span>
      </div>
      <div *ngIf="vendeur" class="artiste">
        <h3>Artiste</h3>
        <span class="appui" (click)="onBiographie()">Biographie</span>
      </div>
      <div *ngIf="admin" class="admin">
        <h3>Administration</h3>
        <span class="appui" (click)="onActivVendeurs()">Activation des comptes vendeurs</span>
        <span class="appui" (click)="onStatutCommandes()">Statut des commandes</span>
      </div>
    </div>

    <div *ngIf="donnees" class="donnees">
      <h2>Éditer mes données personnelles</h2>
      <div class="form-group">
        <label for="civilite">Civilité</label>
        <select class="form-control civilite" id="civilite" name="civilite" required>
          <option *ngIf="sessionclient.civilite=='M'" selected>M</option>
          <option *ngIf="sessionclient.civilite!='M'">M</option>
          <option *ngIf="sessionclient.civilite=='Mme'" selected>Mme</option>
          <option *ngIf="sessionclient.civilite!='Mme'">Mme</option>
          <option *ngIf="sessionclient.civilite=='Melle'" selected>Melle</option>
          <option *ngIf="sessionclient.civilite!='Melle'">Melle</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="sessionclient.nom"
          required>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="sessionclient.prenom"
          required>
      </div>
      <div class="form-group">
        <label for="adresse_email">Adresse email</label>
        <input type="email" class="form-control" id="adresse_email" name="adresse_email" [(ngModel)]="sessionclient.email"
          disabled>
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" class="form-control" id="telephone" name="telephone" pattern="[0-9\s]+" [(ngModel)]="sessionclient.telephone"
          required>
      </div>
      <button (click)="onSubmitInfosUser()" type="submit" class="appliquer">Appliquer</button>
    </div>

    <div *ngIf="adresse" class="adresse">
      <h2>Éditer mon adresse de livraison</h2>
      <div class="form-group">
        <label for="rue">Numéro + Rue</label>
        <input type="text" class="form-control" id="rue" name="rue" [(ngModel)]="sessionclient.adresse.rue" required>
      </div>
      <div class="form-group">
        <label for="cp">Code Postal</label>
        <input type="text" class="form-control" id="cp" name="cp" [(ngModel)]="sessionclient.adresse.codePostal" pattern="[0-9\s]+"
          required>
      </div>
      <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville" name="ville" [(ngModel)]="sessionclient.adresse.ville" required>
      </div>
      <div class="form-group">
        <label for="pays">Pays</label>
        <input type="text" class="form-control" id="pays" name="pays" [(ngModel)]="sessionclient.adresse.pays" required>
      </div>
      <button (click)="onSubmitAdresse()" class="appliquer">Appliquer</button>
    </div>

    <div *ngIf="commandes" class="commandes">
      <h2>Historique de mes commandes</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N° de Commande</th>
            <th scope="col">Date d'achat</th>
            <th scope="col">Prix</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandesParUtilisateur" class="commande">
            <td class="id_commande" (click)=onCommandeViaId(commande.id) data-toggle="modal" data-target="#exampleModalCenter">{{commande.id}}</td>
            <td>{{commande.dateAchat}}</td>
            <td>{{commande.prix | currency : '€'}}</td>
            <td *ngIf="commande.statut=='EN_ATTENTE_DE_TRAITEMENT'">En attente de traitement</td>
            <td *ngIf="commande.statut=='EN_COURS_DE_PREPARATION'">En cours de préparation</td>
            <td *ngIf="commande.statut=='EN_COURS_D_ACHEMINEMENT'">En cours d'acheminement</td>
            <td *ngIf="commande.statut=='LIVREE'">Livrée</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="nouvelle_vente" class="nouvelle_vente">
      <h2>Nouvelle vente</h2>
      <div class="form-group">
        <label for="titre">Titre de l'oeuvre</label>
        <input type="text" class="form-control" id="titre" name="titre" placeholder="Entrez le titre de l'oeuvre..."
          required [(ngModel)]="titre">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Choisir votre oeuvre</label>
        <input type="file" accept="image/*" class="form-control-file" id="exampleFormControlFile1" (change)="onFileChanged($event)">
      </div>
      <label class="labelcheck">Formats disponibles</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
        <label class="form-check-label" for="inlineCheckbox1">Classique</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input formats_choisis" type="checkbox" id="inlineCheckbox2" value="GRAND">
        <label class="form-check-label" for="inlineCheckbox2">Grand</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input formats_choisis" type="checkbox" id="inlineCheckbox3" value="GEANT">
        <label class="form-check-label" for="inlineCheckbox3">Géant</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input formats_choisis" type="checkbox" id="inlineCheckbox3" value="COLLECTOR">
        <label class="form-check-label" for="inlineCheckbox3">Collector</label>
      </div>
      <div class="form-group">
        <label for="tarif">Tarif (pour le format classique, finition passe-partout noir)</label>
        <input type="text" class="form-control" id="tarif" name="tarif" pattern="[0-9,\.]+" placeholder="Entrez le tarif de l'oeuvre..."
          required [(ngModel)]="tarif">
      </div>
      <div class="form-group">
        <label for="tirages">Nombre de tirages maximum</label>
        <input type="number" class="form-control" id="tirages" name="tirages" min="1" max="1000" placeholder="Entrez le nombre maximum de tirages de l'oeuvre..."
          required [(ngModel)]="nb_tirages">
      </div>
      <label class="labelcheck">Thème(s) de l'oeuvre</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input themes_choisis" type="checkbox" id="inlineCheckbox1" value="VOYAGES">
        <label class="form-check-label" for="inlineCheckbox1">Voyages</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input themes_choisis" type="checkbox" id="inlineCheckbox2" value="NOIR_ET_BLANC">
        <label class="form-check-label" for="inlineCheckbox2">Noir & Blanc</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input themes_choisis" type="checkbox" id="inlineCheckbox3" value="NOURRITURE">
        <label class="form-check-label" for="inlineCheckbox3">Nourriture</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input themes_choisis" type="checkbox" id="inlineCheckbox3" value="SPORTS">
        <label class="form-check-label" for="inlineCheckbox3">Sports</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input themes_choisis" type="checkbox" id="inlineCheckbox3" value="MUSIQUE">
        <label class="form-check-label" for="inlineCheckbox3">Musique</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input themes_choisis" type="checkbox" id="inlineCheckbox3" value="ANIMAUX">
        <label class="form-check-label" for="inlineCheckbox3">Animaux</label>
      </div>
      <button type="submit" class="appliquer" (click)="onSubmitNouvelleImage()" data-toggle="modal" data-target="#exampleModalVente">Mettre
        cette oeuvre en vente</button>
    </div>

    <div *ngIf="vente_en_cours" class="vente_en_cours">
      <h2>Ventes en cours</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Miniature de la photographie</th>
            <th scope="col">Titre de l'oeuvre</th>
            <th scope="col">Date de début de vente</th>
            <th scope="col">Nombre d'oeuvres vendues</th>
            <th scope="col">Nombre initial d'oeuvres à la vente</th>
            <th scope="col">Prix de vente unitaire</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let oeuvre of oeuvresCourantes">
            <td scope="col">
              <div *ngIf="oeuvre.orientation=='CARRE'" class="photo" style="width: 200px; height: 200px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PANORAMIQUE'" class="photo" style="width: 200px; height: 65px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PORTRAIT'" class="photo" style="width: 200px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PAYSAGE'" class="photo" style="width: 200px; height: 140px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
            </td>
            <td scope="col">{{oeuvre.titrePhoto}}</td>
            <td scope="col">{{oeuvre.dateMiseEnVente}}</td>
            <td scope="col">{{oeuvre.nbTirages - oeuvre.nbTiragesRestants}}</td>
            <td scope="col">{{oeuvre.nbTirages}}</td>
            <td scope="col">{{oeuvre.prixDeBase | currency:'€'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="ventes_passees" class="ventes_passees">
      <h2>Ventes passées</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Miniature de la photographie</th>
            <th scope="col">Titre de l'oeuve</th>
            <th scope="col">Nombre d'oeuvres vendues</th>
            <th scope="col">Prix de vente unitaire</th>
            <th scope="col">Date de début de vente</th>
            <th scope="col">Date de fin de vente</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let oeuvre of oeuvresPassees">
            <td scope="col">
              <div *ngIf="oeuvre.orientation=='CARRE'" class="photo" style="width: 200px; height: 200px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PANORAMIQUE'" class="photo" style="width: 200px; height: 65px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PORTRAIT'" class="photo" style="width: 200px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PAYSAGE'" class="photo" style="width: 200px; height: 140px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
            </td>
            <td scope="col">{{oeuvre.titrePhoto}}</td>
            <td scope="col">{{oeuvre.nbTirages}}</td>
            <td scope="col">{{oeuvre.prixDeBase | currency:'€'}}</td>
            <td scope="col">{{oeuvre.dateMiseEnVente}}</td>
            <td scope="col">{{oeuvre.dateFinVente}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="biographie" class="biographie">
      <h2>Éditer ma biographie</h2>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Biographie</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" maxlength="1000" required [(ngModel)]="biographieData">
        </textarea>
      </div>
      <button type="submit" class="appliquer" (click)="onSubmitBiographie()">Appliquer</button>
    </div>

    <div *ngIf="activ_vendeurs" class="activ_vendeurs">
      <h2>Activation des compte vendeurs</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Utilisateur</th>
            <th scope="col">Vendeur</th>
            <th scope="col">Compte bloqué</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utilisateur of utilisateurs">
            <td class="nomPrenom" headers="{{utilisateur.id}}">{{utilisateur.prenom}} {{utilisateur.nom}}</td>
            <td *ngIf="utilisateur.artiste==true"><input class="form-check-input artisteCheck" type="checkbox" id="vendeur"
                value="option1" checked></td>
            <td *ngIf="utilisateur.artiste==false"><input class="form-check-input artisteCheck" type="checkbox" id="vendeur"
                value="option1"></td>
            <td *ngIf="utilisateur.compteBloque==true"><input class="form-check-input bloqueCheck" type="checkbox" id="bloque"
                value="option1" checked></td>
            <td *ngIf="utilisateur.compteBloque==false"><input class="form-check-input bloqueCheck" type="checkbox" id="bloque"
                value="option1"></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" (click)="onSubmitActivVendeurs()" class="appliquer">Appliquer</button>
    </div>

    <div *ngIf="statut_commandes" class="statut_commandes">
      <h2>Statut des commandes</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Client</th>
            <th scope="col">N° de Commande</th>
            <th scope="col">Date d'achat</th>
            <th scope="col">Prix</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandesList" class="commande">
            <td>{{commande.client.prenom}} {{commande.client.nom}}</td>
            <td class="id_commande" (click)=onCommandeViaId(commande.id) data-toggle="modal" data-target="#exampleModalCenter">{{commande.id}}</td>
            <td>{{commande.dateAchat}}</td>
            <td>{{commande.prix | currency : '€'}}</td>
            <td>
              <select class="form-control statuts" id="statut" name="statut" required>
                <option *ngIf="commande.statut=='EN_ATTENTE_DE_TRAITEMENT'" selected>En attente de traitement</option>
                <option *ngIf="commande.statut!='EN_ATTENTE_DE_TRAITEMENT'">En attente de traitement</option>
                <option *ngIf="commande.statut=='EN_COURS_DE_PREPARATION'" selected>En cours de préparation</option>
                <option *ngIf="commande.statut!='EN_COURS_DE_PREPARATION'">En cours de préparation</option>
                <option *ngIf="commande.statut=='EN_COURS_D_ACHEMINEMENT'" selected>En cours d'acheminement</option>
                <option *ngIf="commande.statut!='EN_COURS_D_ACHEMINEMENT'">En cours d'acheminement</option>
                <option *ngIf="commande.statut=='LIVREE'" selected>Livrée</option>
                <option *ngIf="commande.statut!='LIVREE'">Livrée</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="appliquer" (click)="onSubmitStatutCommandes()">Appliquer</button>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Détails de la commande</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div *ngFor="let oeuvre of oeuvresList_id" class="div_modal">
              <div *ngIf="oeuvre.orientation=='CARRE'" class="photo" style="width: 200px; height: 200px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PANORAMIQUE'" class="photo" style="width: 200px; height: 65px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PORTRAIT'" class="photo" style="width: 200px; height: 250px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div *ngIf="oeuvre.orientation=='PAYSAGE'" class="photo" style="width: 200px; height: 140px;"><img src="http://localhost:8080/Kartina/photos/{{oeuvre.lienImage}}"></div>
              <div class="description">
                <span class="nom_photo b">{{oeuvre.titrePhoto}}</span>
                <span class="nom_artiste">{{oeuvre.artiste.prenom}} {{oeuvre.artiste.nom}}</span>
              </div>
              <div class="options_choisies">
                <span class="format b">Format</span>
                <span class="format_choisi">{{oeuvre.formatChoisi}}</span>
                <span class="finition b">Finition</span>
                <span class="finition_choisie">{{oeuvre.finition}}</span>
                <span class="cadre b">Cadre</span>
                <span class="cadre_choisi">{{oeuvre.cadre}}</span>
                <span class="quantite b">Quantite</span>
                <span class="quantite_choisie">{{oeuvre.quantite}}</span>
              </div>
              <span class="prix b">{{oeuvre.prixAchat | currency : '€'}}</span>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="exampleModalVente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle photo mise en vente</h5>
            <button type="button" (click)="onSubmitNouvelleVente()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span>Votre photo a bien été mise en vente...</span>
          </div>
        </div>
      </div>
    </div>


  </div>



</div>