@import "../../variables.scss";

#user{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 45px;
}

.contenu_user{
    display: flex;
}

.menu_gauche{
    display: flex;
    flex-direction: column;
    width: 23%;
    padding-right: 100px;
}

.mon_compte, .historique_commandes, .photographies, .artiste, .admin{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.labelcheck{
    margin-right: 50px;
    margin-bottom: 15px;
}

#adresse_email{
    cursor: not-allowed;
}

h3{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}

h2{
    margin-bottom: 30px;
}

.donnees, .adresse, .commandes, .nouvelle_vente, .ventes_en_cours, .ventes_passees, .biographie, .activ_vendeurs, .statut_commandes{
    width: 70%;
}

.appliquer{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: $mainBackgroundColor;
    border: 3px solid $mainColor;
    transition: background-color 600ms;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 20px;
}

.appliquer:hover{
    text-decoration: none;
    background-color: $mainColor;
    color: $buttonHoverColor;
}

.appui{
    font-size: 20px;
}

.appui:hover{
    color: $footandheadColorHover;
    cursor: pointer;
}

td{
    vertical-align: middle;
    text-align: center;
}

.img_ligne{
    background-image: url("../../assets/images/karijini.jpg");
    background-size: 100% 100%;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

#vendeur, #bloque{
    margin: 0;
    padding: 0;
}

.id_commande:hover{
    text-decoration: underline;
    cursor: pointer;
    color: $footandheadColorHover;
}
.photo{
    box-shadow: 1px 1px 5px $footandheadColor;
}

.photo img {
    width: 100%;
    height: 100%;
}

.div_modal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.description{
    display: flex;
    flex-direction: column;
}

.options_choisies{
    display: flex;
    flex-direction: column;
}

.b{
    font-weight: bold;
}




