@import "../../variables.scss";

#artistes{
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

h1{
    border-bottom: 0.2px solid $footandheadColorHover;
    margin-bottom: 40px;
}

.artistes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.div_artiste{
    width: 400px;
    height: 350px;
    border: 0.2px solid $footandheadColorHover;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 3px 3px 15px $footandheadColor;
}

.nom_artiste{
    height: 20%;
    background-color: $footandheadBackgroundColor;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    height: 80%;
}

.pagination{
    width: 100%;
    color: $mainColor;
    border-radius: 0;
    border-top: 0.2px solid $footandheadColorHover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding-top: 30px;
}
  
.page_numero{
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 25px;
}
  
.page_numero:hover{
    text-decoration: underline;
}

.aucun_resultat{
    height: 300px;
}
