<app-filariane ariane1="{{ariane1}}"></app-filariane>

<div id="artistes">

  <h1>Artistes</h1>

  <div *ngIf="artistes.length>0" class="artistes">
      <div *ngFor="let artiste of artistes" [routerLink]="['/artiste', artiste.id]" class="div_artiste">
        <div class="nom_artiste">{{artiste.prenom}} {{artiste.nom}}</div>
        <img src="http://localhost:8080/Kartina/photos/{{artiste.oeuvres[0].lienImage}}" class="photo" />
      </div>
  </div>
  
  <div *ngIf="artistes.length==0" class="aucun_resultat">
    Désolé, aucun résultat ne correspond à vos recherches...
  </div>

  <div class="pagination">
      <span *ngFor="let lettre of alphabet" (click)="onPage(lettre)" class="page_numero">{{lettre}}</span>
  </div>

</div>
