@import "variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: $footandheadColorHover;
    cursor: pointer;
}

app-filariane{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 9%;
    background-color: $filarianeBackgroundColor;
    color: $mainColor;
    border-bottom: 0.2px solid $footandheadColorHover;
    background : linear-gradient(to top, $footandheadBackgroundColor, white);
}
