$mainFont: 'Amatic SC';
$secondFont: 'Roboto';
$footandheadColor: #5b4b36;
$footandheadBackgroundColor:  #fff2d8;
$footandheadColorHover: #a89683;
$fbandtwitterHover: #448cff;
$pinterestHover: rgba(255, 0, 0, 0.705);
$searchColor: #5b4b36;
$buttonHoverColor: white;
$buttonHoverBackgroundColor: #544a3f;
$mainBackgroundColor: #f9fbff;
$mainColor: #544a3f;
$filarianeBackgroundColor: #fff2d8;